.Competences {
  width: 100%;
  height: 100vh;
  background-color: #232527;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}

.Competences__title {
  font-family: 'Bebas Neue', cursive;
  font-size: 5em;
  margin-bottom: 1em;
}

.Competences__list {
  margin: 1em auto;
  width: 70%;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Competences__item {
  margin: 1em auto;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.Competences__github {
  width: 20%;
  margin: auto;
  padding: 1em;
}

.Competences__github__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: auto;
  padding: 1em;
  color: #CECBC5;
  border-radius: 20px;
  transition-duration: 150ms;
}

.Competences__github__link:hover {
  border: 2px solid white;
}

.Competences__github__text {
  margin: 1em 0 0 0;
}

/* Responsive */

@media (max-width: 900px) {
  .Competences__list {
    width: auto;
    height: 100%;
}
  .Competences__item {
    margin: 0;
  }
  .Competences__github {
    width: 30%;
  }
}