.Accueil {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  width: 10%;
  font-size: 3em;
  color: blueviolet;
}

.menu {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-item {
  border: blueviolet 2px solid;
  padding: .5em;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.3em;
  transition-duration: 500ms;
  color: blueviolet;
}

.menu-item:hover {
  background-color: rgb(84, 90, 95);
  color: black;
  border: none;
}

.infos {
  padding: 3em;
}

.name {
  font-family: 'Bebas Neue', cursive;
  font-size: 5em;
}

.title-job {
  font-size: 3em;
}

.linkedin {
  width: 20%;
  margin: auto;
  padding: 1em;
}

.linkedin-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: aliceblue;
  margin: auto;
  padding: 1em;
}

.linkedin-link:hover {
  border: 3px solid #0477b7;
  border-radius: 10px;
}

.linkedin-text {
  margin: 1em 0 0 0;
}

/* Responsive */

@media (max-width: 900px) {
  .disabled {
    display: none;
  }

  .menu {
    width: auto;
  }

  .name {
    font-size: 3em;
  }
}