.Presentation {
width: 100vw;
height: 100vh;
background-color: #41464b;
color: antiquewhite;
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding: 1em;
}

.Presentation__title {
font-size: 3em;
font-weight: 700;
}

.Presentation__text {
  font-size: 1.6em;
  max-width: 700px;
  margin: auto;
}